<body>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <form action="/sign-up" method="post">
            <legend>Sign Up</legend>
            <div class="form-group">
                <label for="post-title">Name</label>
                <input type="text" name="name" class="form-control" id="new-user-name" placeholder="name">
            </div>
            <div class="form-group">
                <label for="post-url">Password</label>
                <input type="text" name="password" class="form-control" id="new-user-password" placeholder="Password">
            </div>
            <div class='text-right'>
                <button type="submit" class="btn btn-primary">Create Post</button>
            </div>
            </form>
        </div>
    </div>
</body>
